{% extends 'student/stu_base.html' %}

{% block content %}

    {#展示出提示消息#}
    {% if messages %}
        <script>
            {% for msg in messages %}
                alert('{{ msg.message }}');
            {% endfor %}
        </script>
    {% endif %}

    <div class="jumbotron">
                <h2>
                    欢迎来到学生首页
                </h2>
                <p>
                    学生的功能如下：
                    <br>
                    1.个人信息管理
                    2.选课
                    3.查看成绩
                </p>
                <p>
                    <a class="btn btn-primary btn-large" href="#">了解更多</a>
                </p>
            </div>

{% endblock %}