{% extends 'student/stu_base.html' %}

{% block content %}
    {#展示界面#}
    <h3>请您输入相关密码信息:</h3>
    <div class="row clearfix">
        {#展示出提示消息#}
        <div class="col-md-4 column">
            {% if messages %}
                <script>
                    {% for msg in messages %}
                        alert('{{ msg.message }}');
                    {% endfor %}
                </script>
            {% endif %}
        </div>
        <div class="col-md-4 column">
            <form action="update_password" role="form" method="post" name="form" id="form">
                {% csrf_token %}
                <div class="form-group">
                    <label for="old_password">*旧密码</label>
                    <input type="text" class="form-control" name="old_password"
                           id="old_password" placeholder="请输入旧密码" required/>
                </div>
                <div class="form-group">
                    <label for="new_password">*新密码</label>
                    <input type="text" class="form-control" name="new_password"
                           id="new_password" placeholder="请输入新密码" required/>
                </div>
                <div class="form-group">
                    <label for="new_password_again">*再次输入新密码</label>
                    <input type="text" class="form-control" name="new_password_again"
                           id="new_password_again" placeholder="请再次输入新密码" required/>
                </div>

                <button type="submit" class="btn btn-default">提交修改</button>
            </form>
        </div>
    </div>
    <!-- 判断两次密码输入的一致性 -->
    <script>
        var obj = document.getElementById("form");
        var check_password = function () {
            var password = document.getElementById("new_password").value;
            var password_again = document.getElementById("new_password_again").value;

            if (password != password_again) {
                alert("您两次密码输入不一致,请重新输入!");
                return false;
            }
            else {
                return true;
            }
        };
        obj.onsubmit = function () {
            return check_password();
        }
    </script>
{% endblock %}