<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="/static/images/favicon.ico">
    <link href="/static/bootstrap/bootstrap.min.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="/static/jquery/jquery.js"></script>
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script type="text/javascript" src="/static/bootstrap/bootstrap.min.js"></script>
    {% block title %}
    {% endblock %}
</head>

<body>
<div class="container">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <nav class="navbar navbar-default" role="navigation">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse"
                            data-target="#bs-example-navbar-collapse-1"><span
                            class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span
                            class="icon-bar"></span><span class="icon-bar"></span></button>
                    <a class="navbar-brand" href="#">Merle_LK</a>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="active">
                            <a href="/accounts">首页</a>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="login">
                        </li>

                        <li class="active">
                            <a class="btn-default" href="/accounts/login">登录</a>
                        </li>


                        <li class="active">
                            <a class="btn-default" href="/accounts/register">用户注册</a>
                        </li>

                    </ul>
                </div>
            </nav>
            {% block content %}
            {% endblock %}
        </div>
    </div>
</div>
</body>
</html>