{% extends 'teacher/tea_base.html' %}

{% block title %}
{% endblock %}

{% block content %}
    <div class="row clearfix">
        {#展示出提示消息#}
        <div class="col-md-4 column">
            {% if messages %}
                <script>
                    {% for msg in messages %}
                        alert('{{ msg.message }}');
                    {% endfor %}
                </script>
            {% endif %}
        </div>
    </div>
    <div class="row clearfix">
        <div class="col-md-12 column">
            <div class="col-md-4 column">
            </div>
            <div class="col-md-4 column">
                <form action="/teacher/tea_course_by_name" role="form" method="post" name="form">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="course_name">*课程名</label>
                        <input type="text" class="form-control" name="course_name"
                               id="course_name" placeholder="请输入您想要查找的课程名" required/>
                    </div>
                    <button class="btn-default" type="submit">查找</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}