<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="/static/bootstrap/bootstrap.min.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="/static/jquery/jquery.js"></script>
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script type="text/javascript" src="/static/bootstrap/bootstrap.min.js"></script>
    {% block title %}
    {% endblock %}
</head>
<body>
<div class="container">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <nav class="navbar navbar-default" role="navigation">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse"
                            data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span><span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Merle_LK</a>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="active">
                            <a class="btn-default" href="/teacher">教师首页</a>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="active">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">个人信息<strong
                                    class="caret"></strong></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a class="btn-default" href="/teacher/tea_personal_info">个人信息管理</a>
                                </li>
                                <li>
                                    <a class="btn-default" href="/teacher/tea_update_password">密码修改</a>
                                </li>
                            </ul>
                        </li>

                        <li class="active">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">课程管理<strong
                                    class="caret"></strong></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a class="btn-default" href="/teacher/tea_add_course">增加课程</a>
                                </li>
                                <li>
                                    <a class="btn-default" href="/teacher/tea_find_course">查看课程</a>
                                </li>
                            </ul>
                        </li>

                        <li class="active">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">成绩管理<strong
                                    class="caret"></strong></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a class="btn-default" href="/teacher/">成绩录入</a>
                                </li>
                                <li>
                                    <a class="btn-default" href="/teacher/#">成绩修改</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        {% block content %}
            <!-- 子模板添加的内容 -->
        {% endblock %}
    </div>
</div>
</body>
</html>