{% extends 'teacher/tea_base.html' %}

{% block title %}
    <title>Teacher Add Course</title>
{% endblock %}

{% block content %}
    {#展示界面#}
    <h3>请输入添加课程的信息:</h3>
    <div class="row clearfix">
        {#展示出提示消息#}
        <div class="col-md-4 column">
            {% if messages %}
                <script>
                    {% for msg in messages %}
                        alert('{{ msg.message }}');
                    {% endfor %}
                </script>
            {% endif %}
        </div>
        <div class="col-md-4 column">
            <form action="#" role="form" method="post" name="form">
                {% csrf_token %}
                <div class="form-group">
                    <label for="course_name">*课程名</label>
                    <input type="text" class="form-control" name="course_name"
                           id="course_name" placeholder="请输入课程名" required/>
                </div>
                <div class="form-group">
                    <label for="description">课程描述</label>
                    <input type="text" class="form-control" name="description"
                           id="description" placeholder="请输入课程描述" required/>
                </div>
                <div class="form-group">
                    <label for="for_grade">*对应年级</label>
                    <input type="text" class="form-control" name="for_grade"
                           id="for_grade" placeholder="请输入对应年级(eg:2014)" required/>
                </div>
                <button type="submit" class="btn-default">添加该课程</button>
            </form>
        </div>
    </div>
{% endblock %}